[submodule "Win-Debloat-Tools"]
	path = Win-Debloat-Tools
	url = https://github.com/LeDragoX/Win-Debloat-Tools.git
[submodule "dotfiles"]
	path = dotfiles
	url = https://github.com/Hyderman/dotfiles.git
